USE [DATA-SHOP-QUAN-AO]
GO
/****** Object:  Table [dbo].[CHI_TIET_PHIEU_NHAP]    Script Date: 6/21/2022 23:24:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_PHIEU_NHAP](
	[MA_SP] [int] NOT NULL,
	[MA_PHIEU_NHAP] [int] NOT NULL,
	[SL] [int] NULL,
	[DON_GIA] [float] NULL,
 CONSTRAINT [PK_CHI_TIET_PHIEU_NHAP] PRIMARY KEY CLUSTERED 
(
	[MA_SP] ASC,
	[MA_PHIEU_NHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUC_VU]    Script Date: 6/21/2022 23:24:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUC_VU](
	[MA_CV] [int] NOT NULL,
	[TEN_CV] [nvarchar](15) NULL,
 CONSTRAINT [PK_CHUC_VU] PRIMARY KEY CLUSTERED 
(
	[MA_CV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_DON_HANG]    Script Date: 6/21/2022 23:24:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_DON_HANG](
	[MA_DON_HANG] [int] NOT NULL,
	[MA_SP] [int] NOT NULL,
	[SL] [int] NULL,
	[PHI_GIAO_HANG] [float] NULL,
	[DON_GIA] [float] NULL,
	[TEN_PHUONG_THUC_THANH_TOAN] [nvarchar](25) NULL,
	[DIA_CHI] [nvarchar](50) NULL,
 CONSTRAINT [PK_CT-DON-HANG] PRIMARY KEY CLUSTERED 
(
	[MA_DON_HANG] ASC,
	[MA_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIA_CHI]    Script Date: 6/21/2022 23:24:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIA_CHI](
	[MA_TP] [int] NOT NULL,
	[MA_QH] [int] NOT NULL,
	[MA_PX] [int] NOT NULL,
	[MA_KH] [int] NOT NULL,
	[MA_DON_HANG] [int] NOT NULL,
	[MA_NV] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DON_DAT_HANG]    Script Date: 6/21/2022 23:24:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DON_DAT_HANG](
	[MA_DON_HANG] [int] NOT NULL,
	[MA_KH] [int] NULL,
	[NGAY_DAT] [datetime] NOT NULL,
	[NGAY_GIAO] [datetime] NULL,
	[TINH_TRANG] [nvarchar](20) NULL,
 CONSTRAINT [PK_DON_DAT_HANG] PRIMARY KEY CLUSTERED 
(
	[MA_DON_HANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HINH_ANH]    Script Date: 6/21/2022 23:24:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HINH_ANH](
	[MA_HINH] [int] IDENTITY(1,1) NOT NULL,
	[MA_SP] [int] NOT NULL,
	[HINH_ANH] [nvarchar](200) NULL,
 CONSTRAINT [PK_HINH_ANH] PRIMARY KEY CLUSTERED 
(
	[MA_HINH] ASC,
	[MA_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 6/21/2022 23:24:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[MA_KH] [int] IDENTITY(1,1) NOT NULL,
	[TEN_KH] [nvarchar](30) NULL,
	[SDT] [nvarchar](11) NULL,
	[DIA_CHI] [nvarchar](50) NULL,
	[TEN_DN] [nvarchar](50) NULL,
	[MK_DN] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[NGAY_SINH] [datetime] NULL,
	[HINH_ANH] [nvarchar](200) NULL,
	[GIOI_TINH] [nvarchar](4) NULL,
 CONSTRAINT [PK_KHACH_HANG] PRIMARY KEY CLUSTERED 
(
	[MA_KH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHUYEN_MAI]    Script Date: 6/21/2022 23:24:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUYEN_MAI](
	[MA_KHUYEN_MAI] [int] NOT NULL,
	[MA_SP] [int] NOT NULL,
	[TEN_KHUYEN_MAI] [nvarchar](30) NULL,
	[PHAN_TRAM] [float] NULL,
 CONSTRAINT [PK_KHUYEN_MAI] PRIMARY KEY CLUSTERED 
(
	[MA_KHUYEN_MAI] ASC,
	[MA_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KICH_THUOC]    Script Date: 6/21/2022 23:24:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KICH_THUOC](
	[MA_KICH_THUOC] [int] IDENTITY(1,1) NOT NULL,
	[MA_SP] [int] NOT NULL,
	[TEN_KICH_THUOC] [nvarchar](5) NULL,
 CONSTRAINT [PK_KICH_THUOC] PRIMARY KEY CLUSTERED 
(
	[MA_KICH_THUOC] ASC,
	[MA_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAI_SP]    Script Date: 6/21/2022 23:24:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_SP](
	[MA_LOAI] [int] IDENTITY(1,1) NOT NULL,
	[TEN_LOAI] [nvarchar](20) NULL,
 CONSTRAINT [PK_LOAI_SP] PRIMARY KEY CLUSTERED 
(
	[MA_LOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAU]    Script Date: 6/21/2022 23:24:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAU](
	[MA_MAU] [nvarchar](10) NOT NULL,
	[TEN_MAU] [nvarchar](20) NULL,
 CONSTRAINT [PK_MAU] PRIMARY KEY CLUSTERED 
(
	[MA_MAU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAN_VIEN]    Script Date: 6/21/2022 23:24:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAN_VIEN](
	[MA_NV] [int] NOT NULL,
	[TEN_NV] [nvarchar](30) NULL,
	[DIA_CHI] [nvarchar](50) NULL,
	[SDT] [nvarchar](11) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[NGAY_SINH] [datetime] NULL,
 CONSTRAINT [PK_NHAN_VIEN] PRIMARY KEY CLUSTERED 
(
	[MA_NV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEU_NHAP_KHO]    Script Date: 6/21/2022 23:24:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU_NHAP_KHO](
	[MA_PHIEU_NHAP] [int] NOT NULL,
	[NGAY_NHAP] [datetime] NULL,
 CONSTRAINT [PK_PHIEU_NHAP_KHO] PRIMARY KEY CLUSTERED 
(
	[MA_PHIEU_NHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHUONG_THUC_THANH_TOAN]    Script Date: 6/21/2022 23:24:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHUONG_THUC_THANH_TOAN](
	[TEN_PHUONG_THUC_THANH_TOAN] [nvarchar](25) NOT NULL,
 CONSTRAINT [PK_PHUONG_THUC_THANH_TOAN] PRIMARY KEY CLUSTERED 
(
	[TEN_PHUONG_THUC_THANH_TOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHUONG_XA]    Script Date: 6/21/2022 23:24:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHUONG_XA](
	[MA_PX] [int] NOT NULL,
	[TEN_PHUONG_XA] [nvarchar](50) NULL,
 CONSTRAINT [PK_PHUONG_XA] PRIMARY KEY CLUSTERED 
(
	[MA_PX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUAN_HUYEN]    Script Date: 6/21/2022 23:24:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUAN_HUYEN](
	[MA_QH] [int] NOT NULL,
	[TEN_QUAN_HUYEN] [nvarchar](50) NULL,
 CONSTRAINT [PK_QUAN_HUYEN] PRIMARY KEY CLUSTERED 
(
	[MA_QH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAN_PHAM]    Script Date: 6/21/2022 23:24:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAN_PHAM](
	[MA_SP] [int] IDENTITY(1,1) NOT NULL,
	[MA_MAU] [nvarchar](10) NULL,
	[MA_LOAI] [int] NULL,
	[TEN_SP] [nvarchar](50) NULL,
	[GIA_MUA] [float] NULL,
	[GIA_BAN] [float] NULL,
	[SL] [int] NULL,
	[MO_TA] [nvarchar](max) NULL,
	[HINH_ANH] [nvarchar](200) NULL,
	[HINH_ANH1] [nvarchar](200) NULL,
 CONSTRAINT [PK_SAN_PHAM] PRIMARY KEY CLUSTERED 
(
	[MA_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAI_KHOAN]    Script Date: 6/21/2022 23:24:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAI_KHOAN](
	[TEN_DANG_NHAP] [nvarchar](50) NOT NULL,
	[MA_NV] [int] NULL,
	[MA_CV] [int] NULL,
	[MAT_KHAU] [nvarchar](50) NULL,
	[HINH_ANH] [nvarchar](200) NULL,
 CONSTRAINT [PK_TAI_KHOAN] PRIMARY KEY CLUSTERED 
(
	[TEN_DANG_NHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THANH_PHO]    Script Date: 6/21/2022 23:24:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THANH_PHO](
	[MA_TP] [int] NOT NULL,
	[TEN_TINH_TP] [nvarchar](50) NULL,
 CONSTRAINT [PK_THANH_PHO] PRIMARY KEY CLUSTERED 
(
	[MA_TP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HINH_ANH] ON 

INSERT [dbo].[HINH_ANH] ([MA_HINH], [MA_SP], [HINH_ANH]) VALUES (2, 2, N'1.jpg')
INSERT [dbo].[HINH_ANH] ([MA_HINH], [MA_SP], [HINH_ANH]) VALUES (3, 2, N'1.1.jpg')
INSERT [dbo].[HINH_ANH] ([MA_HINH], [MA_SP], [HINH_ANH]) VALUES (4, 2, N'1.2.jpg')
SET IDENTITY_INSERT [dbo].[HINH_ANH] OFF
GO
SET IDENTITY_INSERT [dbo].[KHACH_HANG] ON 

INSERT [dbo].[KHACH_HANG] ([MA_KH], [TEN_KH], [SDT], [DIA_CHI], [TEN_DN], [MK_DN], [EMAIL], [NGAY_SINH], [HINH_ANH], [GIOI_TINH]) VALUES (1, N'HOANG', N'0919893932', NULL, N'vuviethoangdakmil@gmail.com', N'123', N'vuviethoangdakmil@gmail.com', NULL, NULL, NULL)
INSERT [dbo].[KHACH_HANG] ([MA_KH], [TEN_KH], [SDT], [DIA_CHI], [TEN_DN], [MK_DN], [EMAIL], [NGAY_SINH], [HINH_ANH], [GIOI_TINH]) VALUES (2, N'huy', N'0972499957', NULL, N'huyngu@gmail.com', N'123', N'huyngu@gmail.com', NULL, NULL, NULL)
INSERT [dbo].[KHACH_HANG] ([MA_KH], [TEN_KH], [SDT], [DIA_CHI], [TEN_DN], [MK_DN], [EMAIL], [NGAY_SINH], [HINH_ANH], [GIOI_TINH]) VALUES (3, N'khanh', N'0919893932', NULL, N'khangngu@gmail.com', N'12345678', N'khangngu@gmail.com', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[KHACH_HANG] OFF
GO
SET IDENTITY_INSERT [dbo].[KICH_THUOC] ON 

INSERT [dbo].[KICH_THUOC] ([MA_KICH_THUOC], [MA_SP], [TEN_KICH_THUOC]) VALUES (4, 2, N'S')
INSERT [dbo].[KICH_THUOC] ([MA_KICH_THUOC], [MA_SP], [TEN_KICH_THUOC]) VALUES (5, 2, N'M')
INSERT [dbo].[KICH_THUOC] ([MA_KICH_THUOC], [MA_SP], [TEN_KICH_THUOC]) VALUES (6, 2, N'L')
SET IDENTITY_INSERT [dbo].[KICH_THUOC] OFF
GO
SET IDENTITY_INSERT [dbo].[LOAI_SP] ON 

INSERT [dbo].[LOAI_SP] ([MA_LOAI], [TEN_LOAI]) VALUES (1, N'Áo')
INSERT [dbo].[LOAI_SP] ([MA_LOAI], [TEN_LOAI]) VALUES (2, N'Quần đùi')
INSERT [dbo].[LOAI_SP] ([MA_LOAI], [TEN_LOAI]) VALUES (3, N'Quần dài')
SET IDENTITY_INSERT [dbo].[LOAI_SP] OFF
GO
INSERT [dbo].[MAU] ([MA_MAU], [TEN_MAU]) VALUES (N'9bc9d4', N'xanh ngọc')
GO
SET IDENTITY_INSERT [dbo].[SAN_PHAM] ON 

INSERT [dbo].[SAN_PHAM] ([MA_SP], [MA_MAU], [MA_LOAI], [TEN_SP], [GIA_MUA], [GIA_BAN], [SL], [MO_TA], [HINH_ANH], [HINH_ANH1]) VALUES (2, N'9bc9d4', 1, N'NEGATIVE HORSE SWEATER', 590000, 590000, NULL, NULL, N'1.jpg', N'1.1.jpg')
INSERT [dbo].[SAN_PHAM] ([MA_SP], [MA_MAU], [MA_LOAI], [TEN_SP], [GIA_MUA], [GIA_BAN], [SL], [MO_TA], [HINH_ANH], [HINH_ANH1]) VALUES (3, NULL, 1, N'INSPACE TEE', 420000, 420000, NULL, NULL, N'2.jpg', N'2.1.jpg')
INSERT [dbo].[SAN_PHAM] ([MA_SP], [MA_MAU], [MA_LOAI], [TEN_SP], [GIA_MUA], [GIA_BAN], [SL], [MO_TA], [HINH_ANH], [HINH_ANH1]) VALUES (4, NULL, 1, N'REVOLUTION TEE', 500000, 400000, NULL, NULL, N'4.jpg', N'4.jpg')
SET IDENTITY_INSERT [dbo].[SAN_PHAM] OFF
GO
INSERT [dbo].[THANH_PHO] ([MA_TP], [TEN_TINH_TP]) VALUES (1, N'An Giang')
INSERT [dbo].[THANH_PHO] ([MA_TP], [TEN_TINH_TP]) VALUES (2, N'Bà Rịa-Vũng Tàu')
INSERT [dbo].[THANH_PHO] ([MA_TP], [TEN_TINH_TP]) VALUES (3, N'Bắc Giang')
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_NHAP]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_PHIEU_NHAP_PHIEU_NHAP_KHO] FOREIGN KEY([MA_PHIEU_NHAP])
REFERENCES [dbo].[PHIEU_NHAP_KHO] ([MA_PHIEU_NHAP])
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_NHAP] CHECK CONSTRAINT [FK_CHI_TIET_PHIEU_NHAP_PHIEU_NHAP_KHO]
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_NHAP]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_PHIEU_NHAP_SAN_PHAM] FOREIGN KEY([MA_SP])
REFERENCES [dbo].[SAN_PHAM] ([MA_SP])
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_NHAP] CHECK CONSTRAINT [FK_CHI_TIET_PHIEU_NHAP_SAN_PHAM]
GO
ALTER TABLE [dbo].[CT_DON_HANG]  WITH CHECK ADD  CONSTRAINT [FK_CT_DON_HANG_DON_DAT_HANG] FOREIGN KEY([MA_DON_HANG])
REFERENCES [dbo].[DON_DAT_HANG] ([MA_DON_HANG])
GO
ALTER TABLE [dbo].[CT_DON_HANG] CHECK CONSTRAINT [FK_CT_DON_HANG_DON_DAT_HANG]
GO
ALTER TABLE [dbo].[CT_DON_HANG]  WITH CHECK ADD  CONSTRAINT [FK_CT_DON_HANG_PHUONG_THUC_THANH_TOAN] FOREIGN KEY([TEN_PHUONG_THUC_THANH_TOAN])
REFERENCES [dbo].[PHUONG_THUC_THANH_TOAN] ([TEN_PHUONG_THUC_THANH_TOAN])
GO
ALTER TABLE [dbo].[CT_DON_HANG] CHECK CONSTRAINT [FK_CT_DON_HANG_PHUONG_THUC_THANH_TOAN]
GO
ALTER TABLE [dbo].[CT_DON_HANG]  WITH CHECK ADD  CONSTRAINT [FK_CT_DON_HANG_SAN_PHAM] FOREIGN KEY([MA_SP])
REFERENCES [dbo].[SAN_PHAM] ([MA_SP])
GO
ALTER TABLE [dbo].[CT_DON_HANG] CHECK CONSTRAINT [FK_CT_DON_HANG_SAN_PHAM]
GO
ALTER TABLE [dbo].[DIA_CHI]  WITH CHECK ADD  CONSTRAINT [FK_DIA_CHI_DON_DAT_HANG] FOREIGN KEY([MA_DON_HANG])
REFERENCES [dbo].[DON_DAT_HANG] ([MA_DON_HANG])
GO
ALTER TABLE [dbo].[DIA_CHI] CHECK CONSTRAINT [FK_DIA_CHI_DON_DAT_HANG]
GO
ALTER TABLE [dbo].[DIA_CHI]  WITH CHECK ADD  CONSTRAINT [FK_DIA_CHI_KHACH_HANG] FOREIGN KEY([MA_KH])
REFERENCES [dbo].[KHACH_HANG] ([MA_KH])
GO
ALTER TABLE [dbo].[DIA_CHI] CHECK CONSTRAINT [FK_DIA_CHI_KHACH_HANG]
GO
ALTER TABLE [dbo].[DIA_CHI]  WITH CHECK ADD  CONSTRAINT [FK_DIA_CHI_NHAN_VIEN] FOREIGN KEY([MA_NV])
REFERENCES [dbo].[NHAN_VIEN] ([MA_NV])
GO
ALTER TABLE [dbo].[DIA_CHI] CHECK CONSTRAINT [FK_DIA_CHI_NHAN_VIEN]
GO
ALTER TABLE [dbo].[DIA_CHI]  WITH CHECK ADD  CONSTRAINT [FK_DIA_CHI_PHUONG_XA] FOREIGN KEY([MA_PX])
REFERENCES [dbo].[PHUONG_XA] ([MA_PX])
GO
ALTER TABLE [dbo].[DIA_CHI] CHECK CONSTRAINT [FK_DIA_CHI_PHUONG_XA]
GO
ALTER TABLE [dbo].[DIA_CHI]  WITH CHECK ADD  CONSTRAINT [FK_DIA_CHI_QUAN_HUYEN] FOREIGN KEY([MA_QH])
REFERENCES [dbo].[QUAN_HUYEN] ([MA_QH])
GO
ALTER TABLE [dbo].[DIA_CHI] CHECK CONSTRAINT [FK_DIA_CHI_QUAN_HUYEN]
GO
ALTER TABLE [dbo].[DIA_CHI]  WITH CHECK ADD  CONSTRAINT [FK_DIA_CHI_THANH_PHO] FOREIGN KEY([MA_TP])
REFERENCES [dbo].[THANH_PHO] ([MA_TP])
GO
ALTER TABLE [dbo].[DIA_CHI] CHECK CONSTRAINT [FK_DIA_CHI_THANH_PHO]
GO
ALTER TABLE [dbo].[DON_DAT_HANG]  WITH CHECK ADD  CONSTRAINT [FK_DON_DAT_HANG_KHACH_HANG1] FOREIGN KEY([MA_KH])
REFERENCES [dbo].[KHACH_HANG] ([MA_KH])
GO
ALTER TABLE [dbo].[DON_DAT_HANG] CHECK CONSTRAINT [FK_DON_DAT_HANG_KHACH_HANG1]
GO
ALTER TABLE [dbo].[HINH_ANH]  WITH CHECK ADD  CONSTRAINT [FK_HINH_ANH_SAN_PHAM] FOREIGN KEY([MA_HINH])
REFERENCES [dbo].[SAN_PHAM] ([MA_SP])
GO
ALTER TABLE [dbo].[HINH_ANH] CHECK CONSTRAINT [FK_HINH_ANH_SAN_PHAM]
GO
ALTER TABLE [dbo].[KHUYEN_MAI]  WITH CHECK ADD  CONSTRAINT [FK_KHUYEN_MAI_SAN_PHAM] FOREIGN KEY([MA_SP])
REFERENCES [dbo].[SAN_PHAM] ([MA_SP])
GO
ALTER TABLE [dbo].[KHUYEN_MAI] CHECK CONSTRAINT [FK_KHUYEN_MAI_SAN_PHAM]
GO
ALTER TABLE [dbo].[KICH_THUOC]  WITH CHECK ADD  CONSTRAINT [FK_KICH_THUOC_SAN_PHAM] FOREIGN KEY([MA_SP])
REFERENCES [dbo].[SAN_PHAM] ([MA_SP])
GO
ALTER TABLE [dbo].[KICH_THUOC] CHECK CONSTRAINT [FK_KICH_THUOC_SAN_PHAM]
GO
ALTER TABLE [dbo].[SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_SAN_PHAM_LOAI_SP] FOREIGN KEY([MA_LOAI])
REFERENCES [dbo].[LOAI_SP] ([MA_LOAI])
GO
ALTER TABLE [dbo].[SAN_PHAM] CHECK CONSTRAINT [FK_SAN_PHAM_LOAI_SP]
GO
ALTER TABLE [dbo].[SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_SAN_PHAM_MAU] FOREIGN KEY([MA_MAU])
REFERENCES [dbo].[MAU] ([MA_MAU])
GO
ALTER TABLE [dbo].[SAN_PHAM] CHECK CONSTRAINT [FK_SAN_PHAM_MAU]
GO
ALTER TABLE [dbo].[TAI_KHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAI_KHOAN_CHUC_VU] FOREIGN KEY([MA_CV])
REFERENCES [dbo].[CHUC_VU] ([MA_CV])
GO
ALTER TABLE [dbo].[TAI_KHOAN] CHECK CONSTRAINT [FK_TAI_KHOAN_CHUC_VU]
GO
ALTER TABLE [dbo].[TAI_KHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAI_KHOAN_NHAN_VIEN] FOREIGN KEY([MA_NV])
REFERENCES [dbo].[NHAN_VIEN] ([MA_NV])
GO
ALTER TABLE [dbo].[TAI_KHOAN] CHECK CONSTRAINT [FK_TAI_KHOAN_NHAN_VIEN]
GO
