
@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/layOutWebQuanAo.cshtml";
}

<section id="login">

    @using (Html.BeginForm())
    {

        @Html.ValidationSummary(true)
        <div class="container">
            <p style="color:red">@ViewBag.Thongbao</p>
            <header class="head-form">
                <h2>Đăng Nhập</h2>
                <p>Nhập tên đăng nhập và mật khẩu</p>
            </header>
            <div>
                <span class="input-item">
                    <i class="fa fa-user-circle"></i>
                </span>
                <input class="form-input" id="txt-signin" type="text" name="txt-signin" placeholder="Địa chỉ email">
            </div>

            <div>
                <span class="input-item">
                    <i class="fa fa-key"></i>
                </span>
                <input class="form-input" type="password" placeholder="Mật khẩu" id="pwd" name="pwd" required>
                <div id="toggle" onclick="showPassword()"></div>
            </div>

            <button class="btn log-in"> Đăng Nhập </button>
            <div style="width:80%;">
                <button class="submits fg-pass">Quên Mật Khẩu</button>
                <button class="submits sign-up" onclick="window.location.href='/NguoiDung/DangKy'">
                    Đăng Ký
                    <i class="fa fa-user-plus"></i>
                </button>

            </div>

        </div>
    }
</section>

