@foreach (var item in Model)
{
    <div class="product-gallery-container active">
        <a>
            <img src="/img/products/@item.HINH_ANH1" alt="" @*class="actives"*@>
        </a>
    </div>
    
}



