

@foreach (var iteam in Model)
{

    if (iteam.MA_KICH_THUOC == 1)
    {
        <input type="radio" name="size" value="s" checked hidden id="s-size">
        <label for="s-size" class="size-radio-btn ">@iteam.TEN_KICH_THUOC</label>
    }
    else
    {
            <input type="radio" name="size" value="s" checked hidden id="s-size">
            <label for="s-size" class="size-radio-btn ">@iteam.TEN_KICH_THUOC</label>
    }

}
